.jumbotron { 
 height: 250px;
  width: 100%;
  max-height: 50%;
  max-width: 100%;
  min-height: 20%;
  min-width: 30%;
  background-image: url("http://res.cloudinary.com/dna5ogpht/image/upload/v1521166917/top.jpg");
  background-size: cover;
  font-family: 'Didact Gothic', sans-serif;
  margin-bottom:1px;
}
.container {
  padding: 80px 120px;
  width: 100%;
  background-color:rgba(127, 255, 255, 0.1);
  max-width: 62.5em;

  }
h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;      
  font-size: 30px;
  color: #111;
  }
em{
 font-size: 20px;
  }
p{
    font-family: inherit;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
  }
.contact{
  	padding: 50px 120px;
    width: 100%;
    background-color:rgba(127, 255, 255, 0.1);
  }
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
.container-fluid {
      padding: 60px 50px;
     
  }
.copyright{
  margin: 0 auto;
  font-family: 'Gudea', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
  font-size: 13px;
  color: #737373;
  text-align: center;

 }
 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 40px 0 30px;
   background-color: #2f2f2f;
    color: #ffffff;
}
